<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" username="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method = "post" action="add">
            <input type="hidden" username="_csrf" value="{{_csrf.token}}"/>
            <input type = "text" username = "text" placeholder = "input message" />
            <input type = "text" username = "tag" placeholder = "tag" />
            <button type = "submit">add message</button>
        </form>
    </div>
    <div>List of messages</div>
    <form method="post" action="filter">
        <input type="hidden" username="_csrf" value="{{_csrf.token}}"/>
        <input type="text" username="filter"/>
        <button type="submit">find by tag</button>
    </form>
    {{#messages}}
        <div>
            <b>{{Id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>